<section class="text-center" cz-shortcut-listen="true">
  <h1>M</h1>
  <h4>Musicflix</h4>
  <main class="form-signin w-100 m-auto">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h2 class="h3 mb-3 fw-normal text-white">
        Inserisci i dati e registrati
      </h2>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingName"
          placeholder="Nome e Cognome"
          name="name"
          ngModel
          required
        />
        <label for="floatingPassword">Nome e Cognome</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          ngModel
          required
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          ngModel
          required
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label class="text-white mt-3">
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Registrati
      </button>
    </form>
  </main>
</section>
