<section class="text-center container-fluid" cz-shortcut-listen="true">
  <main class="form-signin m-auto">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h1 class="h3 mb-3 fw-normal">Entra nella Community</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          required
          ngModel
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          required
          ngModel
        />
        <label for="floatingPassword">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" /> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-success" type="submit">Entra</button>
      <p>oppure</p>
      <button
        class="w-100 btn btn-lg btn-primary"
        [routerLink]="['/signup']"
        type="submit"
      >
        Registrati
      </button>
    </form>
  </main>
</section>
