<section id="mainPages" *ngIf="mainActive">
  <nav ngbNav #nav="ngbNav" class="nav-tabs">
    <ng-container ngbNavItem>
      <a ngbNavLink>Home</a>
      <ng-template ngbNavContent>
        <aside class="text-white">
          <div>
            <form class="d-flex mt-3" role="search">
              <input
                [(ngModel)]="artist"
                name="search"
                class="form-control me-2"
                type="search"
                placeholder="Cosa vuoi ascoltare?"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-primary"
                type="submit"
                (click)="findArtist()"
              >
                Search
              </button>
            </form>
          </div>
          <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div
              class="card bg-transparent mt-3 p-2 border-0"
              style="width: 18rem"
              *ngFor="let song of musFound"
            >
              <img
                #field
                src="{{song.artist.picture_medium}}"
                class="card-img-top rounded-circle"
                alt="artist-cover"
              />
              <div class="card-body">
                <h3 class="card-title" #title>{{song.title}}</h3>
                <h5 class="card-text" #artistName>{{song.artist.name}}</h5>
                <audio controls style="width: 100%">
                  <source #song src="{{song.preview}}" type="audio/ogg" />
                </audio>
                <button
                  type="submit"
                  #thisId
                  id="{{song.id}}"
                  class="btn btn-primary"
                  onclick="addList()"
                >
                  Aggiungi a Playlist
                </button>
              </div>
            </div>
          </div>
        </aside>
      </ng-template>
    </ng-container>
    <ng-container ngbNavItem>
      <a ngbNavLink>My Playlist</a>
      <ng-template ngbNavContent>
        <aside class="text-white">
          <div class="container-fluid d-flex flex-wrap justify-content-between">
            <div
              class="card bg-transparent mt-3 p-2 border-0"
              style="width: 18rem"
              *ngFor="let item of artistFavCard"
            >
              <img
                #field
                src="{{item.image}}"
                class="card-img-top rounded-circle"
                alt="artist-cover"
              />
              <div class="card-body">
                <h3 class="card-title" #title>{{item.title}}</h3>
                <h5 class="card-text" #artistName>{{item.name}}</h5>
                <audio controls style="width: 100%">
                  <source #song src="{{item.preview}}" type="audio/ogg" />
                </audio>
              </div>
            </div>
          </div>
        </aside>
      </ng-template>
    </ng-container>
  </nav>
  <p *ngIf="profile"><span>Profilo di:</span> {{ n.user.name }}</p>
  <p *ngIf="enter" routerLink="login">Fai il login</p>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</section>
