#mainPages {
  margin: auto;
  padding: 2em;
  max-width: 1200px;
  ul{
    display: inline-flex;
  }
  p{
    display: inline;
    float: right;
    color: red;
    font-size: 20px;
    font-weight: bold;
    span {
      color: #bb0021;
    }
  }

}
